@import 'config/_variable.scss';
@import 'config/reset.scss';
@import 'config/utiles.scss';
@import 'main.scss';
@import 'partials/videoPlayer.scss';
@import 'partials/header.scss';
@import 'pages/home.scss';
@import 'partials/footer.scss';
@import 'partials/form.scss';
@import 'partials/socialLogins.scss';
@import 'partials/videoBlock.scss';
@import 'pages/home.scss';
@import 'pages/videoDetail.scss';
@import 'pages/userProfile.scss';

* {
	box-sizing: border-box;
}

.u-avatar {
	height: 80px;
	background-color: #ea232c;
	border-radius: 50%;
}
