extends layouts/main


block content
    .form-container
        form(action=`/users/${routes.changePassword}`, method = "pose")
            input(type="password",name="oldPassword", placeholder ="Current Password")
            input(type="password", name="newPassword", placeholder="New Password")
            input(type="password",name="verifyPassword",placeholder="Verify Password")
            input(type="submit", value="Change Password")
            